.c-loader {
  animation: is-rotating 1s infinite;
  border: 6px solid #e5e5e5;
  border-radius: 50%;
  border-top-color: #428bca;
  height: 50px;
  width: 50px;
  margin-top: 10rem;
  margin-inline: auto;
}

.modal-content {
  background-color: transparent;
  border: none;
}

@keyframes is-rotating {
  to {
    transform: rotate(1turn);
  }
}
