<div class="card">
  <div class="col">
    <label for="">Usuário</label>
    <input
      class="form-control"
      id="email"
      type="text"
      [value]="this.camposFormulario.email"
      [disabled]="this.desabilitaEmail"
    />

    <label for="posto">Posto de Trabalho</label>
    <input
      id="posto"
      list="posto2"
      class="form-control"
      [(ngModel)]="this.camposFormulario.posto"
      (change)="this.getPostoSelecionado(this.camposFormulario)"
    />
    <datalist id="posto2">
      <option
        *ngFor="let info of this.parametrosPosto.dados"
        [value]="info.estPos + ' - ' + info.posTra + ' - ' + info.desRed"
      ></option>
    </datalist>

    <br />
  </div>
</div>
